<html>
    <title>Test</title>
    <header>
        
    </header>
    <%- include('base') -%>
    <body class="register">
   
        <div class="container pt-5">
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <div style="width: 25rem;" class="card pt-3 bg-dark bg-gradient" >
                        <% if(locals.errors) { Object.keys(errors).forEach(key => { %>
                            <% errors[key].forEach((error) => { %>
                            <div class="alert alert-danger" role="alert">
                                    <%= error %>
                              </div>
                        <% }) %>
                        <% }) %>
                        <% } %>
                        <div class="card-body">
                            <form class="justify-content-center" action="/user/register" method="POST">

                                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create a new account</h3>

                                <div class="form-outline mb-4">
                                    <input type="username" name="name"  placeholder="Name" class="form-control form-control" />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="username" name="username"  placeholder="Username" class="form-control form-control" />
                                </div>
                                <div class="form-outline mb-4">
                                  <input type="email" name="email"  placeholder="Email" class="form-control form-control" />
                                </div>
                    
                                <div class="form-outline mb-4">
                                  <input type="password" name="password" placeholder="Password" class="form-control form-control" />
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control form-control" />
                                  </div>
                    
                                <div class="pt-1 mb-4">
                                  <button class="btn btn-info btn btn-block" type="submit">Register</button>
                                </div>
                    
                                <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Add clever text</a></p>
                                <p>Already have an account? <a href="/user/login" class="link-info">Login Here</a></p>             
                            </form>
                        </div>          
                    </div>

                </div>
                <div class="col-sm"></div>
            </div>
        </div>

        
     
    <!-- scripts begin here -->
        <script src="/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>

    </body>
</html>