.register, .login{ 
  background-image: url('../images/movie.jpg');  
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.85;
}

.dropdown-item:hover{
  background-color: #5bc0de;
}

.link-info:hover{
  color: #5bc0de;
}

